.hero {

    &__image {
        position: relative;
        background-image:url('/images/Vector.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;
/*         left: 49.84%;
        right: -41.88%;
        top: -9.72%;
        bottom: 81.76%; */

        &::before  {
            content:"";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url('/images/featured-image.SVG');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center bottom;
        }
    }

    &__text {
        text-align: center;

        h1 {
            font-weight: 300;
            font-size: 2.21rem;
            line-height: 1;
            color: $darkblue;
            margin-bottom: 1.5rem;
        }

        p {
            line-height: 1.5;
            font-size: $font-sma;
            color: $grayletters;
            margin-bottom: 2.25rem;
        }
    }
}