//colors
$darkblue:#272D4E;
$grayletters:#94A2B3;
$darkpurple:#7854F7;
$darkgreen:#70C217;
$white: #fff;

//font sizes
$font-sma: 0.875rem;
$font-med: 1.125rem;
$font-xlg: 3.25rem;
$font-lg: 1.25rem




